@import "@/styles/imports";

.link {
	@include flex(flex-start, center, nowrap);
	margin-top: 1.8rem;
	gap: 0.6rem;
	position: relative;
	p {
		color: $col-white;
		font-weight: 700;
	}
	span {
		position: relative;
		width: 2.4rem;
		height: 2.4rem;
		transition: rotate 0.3s ease;
	}
	&:hover {
		span {
			rotate: 45deg;
			transition: rotate 0.3s ease;
		}
	}
	@include screenMax("mobile") {
		span {
			width: 1.6rem;
			height: 1.6rem;
		}
		p {
			font-size: 1.6rem;
		}
	}
}
