@import "@/styles/imports";

.services {
	padding: 9.6rem 8rem;
	.container {
		max-width: $max-width;
		margin-inline: auto;
		.row {
			@include flex(space-between);
			gap: 2.4rem;
			.title {
				max-width: 71.1rem;
			}
			.text {
				max-width: 45.3rem;
				text-align: right;
				h6 {
					@extend %text-18;
					color: #b9b9b9;
					margin-bottom: 1rem;
				}
				a {
					justify-self: flex-end;
				}
			}
		}
		.grid {
			@include grid(repeat(2, 1fr), 2.4rem, 2.4rem);
			.card_container {
				.card {
					width: 100%;
					height: 65.1rem;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					position: relative;
					@include flex();
					.background {
						position: relative;
						bottom: 0;
						width: 100%;
						left: 0;
						margin-top: auto;
						padding: 5.6rem;
						@extend %center;
						background-color: #262626;
						height: 14.4rem;
						transition: all 0.6s ease-in-out;
						.icon_container {
							position: absolute;
							left: calc(50% - 3.2rem);
							top: -3.2rem;
							.icon {
								position: relative;
								width: 6.4rem;
								height: 6.4rem;
							}
						}
						.text {
							max-width: 44.2rem;
							h3 {
								@extend %text-24;
								font-family: $font-monument;
								color: #fff;
								text-align: center;
								transition: all 0.3s ease-in-out;
							}
							p {
								@extend %text-16;
								color: #fff;
								text-align: center;
								visibility: hidden;
								opacity: 0;
								transition: all 0.3s ease-in-out;
							}
						}
						.button {
							margin-top: 3.2rem;
							visibility: hidden;
							opacity: 0;
							transition: all 0.2s ease-in-out;
						}
					}
					&:hover {
						.background {
							background-color: #0834f8;
							height: 24.4rem;
							transition: all 0.6s ease-in-out;
							.text {
								p {
									visibility: visible;
									opacity: 1;
									transition: all 0.3s ease-in-out;
								}
							}
							.button {
								visibility: visible;
								opacity: 1;
								transition: all 0.3s ease-in-out;
							}
						}
					}
				}
				.card_mobile {
					display: none;
				}
			}
		}
	}
	@include screenMax("mobile") {
		padding: 4rem 1.6rem;
		.container {
			.row {
				flex-direction: column;
				gap: 0;
				.title {
					max-width: 100%;
					text-align: left;
					margin-bottom: 1.6rem;
				}
				.text {
					text-align: left;
				}
			}
			.grid {
				grid-template-columns: repeat(2, 1fr);
				.card_container {
					.card {
						height: 14.6rem;
						.background {
							display: none;
						}
					}
					.card_mobile {
						display: block;
						margin-top: 1.2rem;
						.text {
							h3 {
								font-size: 1.2rem;
								line-height: 1.6rem;
								font-family: $font-monument;
								color: #fff;
								margin-bottom: 0.8rem;
							}
							p {
								font-size: 1.2rem;
								line-height: 1.6rem;
							}
						}
					}
				}
			}
		}
	}
}
