@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
	font-family: "MonumentExtended";
	src: url("/fonts/MonumentExtended-Ultrabold.otf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

section,
article,
blockquote,
div,
span,
nav,
p,
ul,
li,
a {
	font-size: 1.6rem;
	line-height: 2.4rem;
	@include screenMax("mobile") {
		font-size: 1.8rem;
		line-height: 2.3rem;
	}
}
