@import "@/styles/imports";

.careers {
	padding: 9.6rem 8rem;
	.container {
		max-width: $max-width;
		margin-inline: auto;
		.title {
			margin-inline: auto;
			margin-bottom: 1rem;
			text-align: center;
			max-width: 58rem;
		}
		.button {
			margin-inline: auto;
			padding: 0;
			border: none;
		}
		.card_container {
			margin-top: 4rem;
			@include flex(flex-start, flex-start, column);
			gap: 2.4rem;
			.card {
				width: 100%;
				background-color: #232323;
				padding: 2.4rem;
				@include flex(space-between, center);
				.details {
					@include flex(flex-start, flex-start, column);
					gap: 2rem;
					max-width: 39.5rem;
					h3 {
						@extend %text-12;
						color: #fff;
						font-weight: 800;
						font-family: $font-monument;
					}
					p {
						@extend %text-14;
						color: #b9b9b9;
					}
					.row {
						@include flex(flex-start, center);
						gap: 2rem;
						.card_button {
							padding: 0.8rem 1.2rem;
							border: 0.1rem solid #868686;
							@include flex(flex-start, center);
							gap: 0.8rem;
							.icon {
								position: relative;
								width: 1.6rem;
								height: 1.6rem;
							}
							p {
								@extend %text-16;
								color: #b9b9b9;
							}
						}
					}
				}
				.apply_button {
					background-color: #0834f8;
					p {
						color: #fff;
					}
				}
			}
			.no_careers {
				background-color: #232323;
				width: 100%;
				padding: 6.4rem 2.4rem;
				.image {
					position: relative;
					width: 12rem;
					height: 12rem;
					margin-bottom: 2rem;
					margin-inline: auto;
				}
				.title {
					text-align: center;
					max-width: 48.8rem;
					margin-inline: auto;
					h1 {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
	@include screenMax("mobile") {
		padding: 4rem 1.6rem;
		.container {
			.title {
				max-width: 100%;
				margin-inline: unset;
				text-align: left;
			}
			.card_container {
				.card {
					.apply_button {
						width: 100%;
						margin-top: 4rem;
						justify-content: center;
					}
				}
				.no_careers {
					.image {
						width: 8rem;
						height: 8rem;
					}
					.title {
						h1 {
							font-size: 2rem;
						}
					}
				}
			}
			.button {
				margin-inline: unset;
			}
		}
	}
}
