@import "@/styles/imports";

.slider {
	width: 100%;
	.slide {
		.image {
			width: 100%;
			height: 30.8rem;
			position: relative;
		}
		.details {
			text-align: center;
			margin-top: 2.4rem;
			h4 {
				@extend %text-20;
				color: $col-white;
				font-weight: 800;
				margin-bottom: 0.8rem;
				font-family: $font-monument;
			}
			p {
				font-size: 1.6rem;
				line-height: 2.4rem;
				color: #b9b9b9;
			}
		}
	}
}
